body {
  margin: 0;
  color: black;
  background: url('/bg.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  font-family: Open sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
